* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: 'Lato', Helvetica,Arial, sans-serif;
    font-size: 1.5em;
    color: #333;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul, li{
    list-style: none;
}

a{
    transition: all .3s;
}

.tag{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 50%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #5cb85c;
}

.alert-info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    .alert-icon{
        font-size: 3em;
        margin-bottom: 20px;
    }
}
