<section class="search-form"
         ng-class="{'start': !vm.showResult}"
         scroll-class>
    <form name="vm.form">
        <div class="search-box">
            <input type="search"
                   ng-model="vm.search"
                   name="search"
                   id="search"
                   placeholder="Pesquise pelo nome da banda ou artista"
                   autocomplete="off"
                   required />
            <button type="submit"
                    id="btn-search"
                    ng-click="vm.getBand()"
                    ng-disabled="vm.form.$invalid">
                <i class="fa"
                   ng-class="{'fa-search': !vm.loading, 'fa-circle-o-notch fa-spin': vm.loading}"></i>
            </button>
        </div>
    </form>
</section>

<section class="band-info"
         ng-if="vm.band"
         ng-class="{'show': vm.showResult, 'hide': !vm.showResult}"
         ng-style="{'background-image': 'url(' + vm.band.cover + ')'}">

    <div class="band-info-container">
        <div class="band-box-name">
            <h1 class="band-name"
                ng-bind="vm.band.name"></h1>
            <label class="tag" ng-bind="vm.band.genre"></label>
        </div>

        <ul class="band-socials">
            <li ng-repeat="social in vm.band.socials track by $index"
                class="social-item">
                <a ng-href="{{ social.url }}"
                   class="social-link"
                   target="_blank">
                    <i class="fa" ng-class="['fa-{{ social.icon }}']"></i>
                </a>
            </li>
        </ul>
    </div>
</section>

<youtube ng-if="vm.watch"
         on-close="vm.watch = null"
         id="vm.watch.id"></youtube>

<section class="videos"
         ng-class="{'show': vm.showResult, 'hide': !vm.showResult}">
    <article class="video-item"
             ng-repeat="video in vm.videos track by $index">

        <div class="video-image"
             ng-style="{'background-image': 'url(' + video.image + ')'}"></div>

        <div class="video-content">
            <label class="video-channel"
               ng-bind="video.channel.name"></label>

            <button class="video-play" ng-click="vm.watch = video">
                <i class="fa fa-play"></i>
            </button>

            <h2 class="video-title"
                ng-bind="video.title"></h2>

            <p class="video-description"
               ng-bind="video.description"></p>

            <div class="video-meta">
                <span class="video-published">
                    <i class="fa fa-clock-o"></i>
                    {{ video.published | date }}
                </span>
            </div>
        </div>

    </article>
</section>

<section class="alert-info"
     ng-if="vm.showResult && !vm.band && !vm.videos">
    <h1 class="alert-icon">
        <i class="fa fa-frown-o"></i>
    </h1>

    <p class="alert-msg">Nenhuma banda ou artista encontrado</p>
</section>


